<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>Pokèdex</title>
</head>
<body>
    <!-- 5 Rows, 2 Columns -->
    <div id="main-container">

        <% if (locals.menuDataList) { %>
            <% menuDataList.forEach(data => { %>
                <ul style="list-style: none;">
                    <li>
                        <a href="/<%- data.id %>"> 
                            <%- data.id %>. <br/>
                            <img src="/5.svg" id="pokeball"/> <%= data.name %> 
                        </a>
                    </li>
                </ul>
            <% }); %>

        <% } else { %>
            <div>Nothing</div>
        <% } %>


    </div>

    
</body>
</html>