<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <!-- 5 Rows, 2 Columns -->
    <div id="main-container">

        <div id="left-container">
            <div id="sprite-box" class="data-container">Sprite</div>
            <div id="number-box" class="data-container">Number</div>
        </div>

        <div id="right-container">
            <div id="name-box" class="data-container">Name</div>
            <div id="species-box" class="data-container">Species</div>
            <div id="height-box" class="data-container">Height</div>
            <div id="weight-box" class="data-container">Weight</div>
        </div>

        <div id="bottom-container">
            <div id="entry-box" class="data-container">Entry</div>
        </div>

    </div>

    
</body>
</html>