<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <!-- 5 Rows, 2 Columns -->
    <div id="main-container">

        <% if (locals.pokeData) { %>

        <% } else { %>
            <div>Nothing</div>
        <% } %>


    </div>

    
</body>
</html>