@font-face {
    font-family: "Pokemon GB";
    src: url("../fonts/pokemon_fire_red.woff2") format("woff2"), /* Super Modern Browsers */
         url("../fonts/pokemon_fire_red.woff") format("woff"), /* Modern Browsers */
         url("../fonts/pokemon_fire_red.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
    font-family: "Pokemon GB", sans-serif; /* Fallback fonts */
    margin: 0;
}

html, body {
    height: 100%;
}

#main-container {
    background-color: rgb(160, 162, 93);
    width: 100vw;
    display: grid;
    height: auto;
}

#main-container > * {
    border: 1px solid black;
    display: grid;
}

.content-container {
    height: 50vh;
    width: 100%;
}

.content-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #number-box {

} */

#bottom-container {
    grid-column: span 2;
}

#sprite-box {
    grid-row: span 3;
}

#name-box {
    text-transform: capitalize;
}

img {
    height: 15em;
    width: 15em;
}

#entry-box {
    /* font-size: 1.75em; */
    display: grid;
    font-size: 2.5em;
    padding: 50px;
}

@media (max-height: 520px) {
    img {
        height: 10em;
        width: 10em;
    }
}

@media (max-height: 357px) {
    img {
        height: 5em;
        width: 5em;
    }
}